:root {
  /* ea6e91-c14d76-a31679-5c0087-2f004f */
  --color-primary-darker: #3c082c;
  --color-primary-dark: #a31679;
  --color-primary-dark-near: #b0466c;
  --color-primary: #c14d76;
  --color-primary-light-near: #c65d82;
  --color-primary-light: #ea6e91;

  /* accent */
  --color-accent-dark: #2f004f;
  --color-accent: #5c0087;

  /* white */
  --color-white-alpha-dark: rgba(255, 255, 255, 0.1);
  --color-white-alpha: rgba(255, 255, 255, 0.2);
}
